@import 'tailwindcss';
@plugin '@tailwindcss/typography';

html,
body,
#app {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: theme(--color-zinc-300);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: theme(--color-zinc-400);
}
::-webkit-scrollbar-track {
  background: transparent;
}
